.container-wrapper {
  overflow: hidden;
  transition: transform 0.3s ease-out;
  transform: translateX(10%);
  justify-content: center;
  align-items: center;
  align-content: center;
  display: flex;
}

.container-wrapper.active {
  transform: translateX(0%);
}

.container {
  background-color: blue;
  width: fit-content;
}
